{{ define "demos.tmpl" }}
<div class="section-outer section-demos" id="section-demos">
    <div class="assets-outer">
        <div class="assets" id="assets">
            <div class="section-header demos-header">DEMOS</div>

            <div class="asset">
                <div class="asset-img sxsw-img" onclick="window.location = 'http://sxsw.hrtsfld.xyz'"></div>
                <div class="asset-name">Brochure</div>
                <div class="asset-description">
                    <div class="asset-header">Description:</div>
                    <div class="asset-discription">A single page static website</div>
                </div>
                <div class="asset-cat-val">
                    <div class="asset-value">
                        <div class="asset-header">Average Cost:</div>
                        <div class="asset-value-num">$200 USD</div>
                    </div>
                </div>
            </div>

            <div class="asset">
                <div class="asset-img store-img" onclick="window.location = 'https://particlestore.hrtsfld.xyz/'"></div>
                <div class="asset-name">E-Commerce Storefront</div>
                <div class="asset-description">
                    <div class="asset-header">Description:</div>
                    <div class="asset-discription">An E-Commerce store front can be used by businesses to sell goods online</div>
                </div>
                <div class="asset-cat-val">
                    <div class="asset-value">
                        <div class="asset-header">Average Cost:</div>
                        <div class="asset-value-num">$5k-10k USD</div>
                    </div>
                </div>
            </div>

            <div class="asset">
                <div class="asset-img mg-img" onclick="window.location = 'http://mysterygift.org'"></div>
                <div class="asset-name">Subscription</div>
                <div class="asset-description">
                    <div class="asset-header">Description:</div>
                    <div class="asset-discription">Start a subscription based business</div>
                </div>
                <div class="asset-cat-val">
                    <div class="asset-value">
                        <div class="asset-header">Average Cost:</div>
                        <div class="asset-value-num">$1k-$5k USD</div>
                    </div>
                </div>
            </div>

            <!-- <div class="asset"> -->
            <!--     <div class="asset-img pr-img" onclick="window.location = 'http://pr.hrtsfld.xyz'"></div> -->
            <!--     <div class="asset-name">Multi-page Dynamic</div> -->
            <!--     <div class="asset-description"> -->
            <!--         <div class="asset-header">Description:</div> -->
            <!--         <div class="asset-discription">A multi-page dynamic website is a large website</div> -->
            <!--     </div> -->
            <!--     <div class="asset-cat-val"> -->
            <!--         <div class="asset-value"> -->
            <!--             <div class="asset-header">Average Cost:</div> -->
            <!--             <div class="asset-value-num">$5k-20k USD</div> -->
            <!--         </div> -->
            <!--     </div> -->
            <!-- </div> -->

        </div>
    </div>
</div>
<style>{{ template "demos.css" }}</style>
<script>{{ template "demos.js"}}</script>
{{end}}
