{{ define "services.tmpl" }}
<div class="section-outer section-services" id="section-services">
    <h1>Services offered by {{ .CompanyName }}:</h1>
    <h2>Business Software</h2>
    <p>
        {{ .CompanyName }} provides software, web hosting, and online account 
        management and marketing services for businesses and organizations 
        world-wide. Maintaining a web presence is an essential part of any 
        growing organization, and {{ .CompanyName }} can manage your companies 
        online persona at an affordable rate.
    </p>
    <h2>Account Management & Online Marketing via Social Media & Other Platforms</h2>
    <p>
        In addition to building, hosting, and maintaining your businesses 
        website, {{ .CompanyName }} can also manage 
        your companies social media accounts, conduct marketing campaigns on 
        your behalf, and find other ways to reach new clients online. We can 
        even design custom plans just for you!
    </p>
    <h2 class="bottom-h2">Call Today and Get Started In Seconds:<br> 681 - 222 - 5982</h2>
</div>
<style>{{ template "services.css" }}</style>
<script>{{ template "services.js"}}</script>
{{end}}
