<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
{{template "head" . }} 
  <body>
    {{template "autonav.tmpl" . }}
    {{template "splash.tmpl" . }}
    {{template "services.tmpl" . }}
    {{template "plans.tmpl" . }}
    {{template "demos.tmpl" . }}
    {{template "contact.tmpl" . }}
    {{template "footer" . }}
  </body>
</html>
